$blue: rgb(0, 86, 210);
$darkBlue: rgb(0, 70, 180);
$blueHover: #f0f6ff;
button {
  padding: 0.625rem, 1.123rem;
  font-size: 1.2rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 0.2s ease;
  border: 0.0625rem solid transparent;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  &.primary {
    background: $blue;
    color: white;
    &:hover:not(:disabled) {
      background: $darkBlue;
    }
  }
  &.secondary {
    background: white;
    color: $blue;
    border: 0.0625rem solid $blue;
    &:hover:not(:disabled) {
      background: $blueHover;
    }
  }
  &.danger {
    background: white;
    color: orangered;
    border: 0.0625rem solid orangered;
    &:hover:not(:disabled) {
      background: #fff6f0;
    }
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
