
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Source Sans Pro,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(#fff);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
*{
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family:'Source Sans Pro', Arial, sans-serif;  }

@include mat.form-field-density(-1);

// FIX GREY SIDE BARS FOR FILLED AND OUTLINED TYPES
.mat-mdc-text-field-wrapper,
.mat-mdc-form-field-focus-overlay,
.mat-mdc-form-field-flex {
  background-color: transparent !important;   // removes grey fill
  box-shadow: none !important;
}

// REMOVE OUTLINE COMPLETELY (the grey bars were outline fragments)
.mdc-notched-outline,
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  display: none !important;
}

// ADD YOUR CUSTOM BORDER (the only border)
.mat-mdc-form-field-flex {
  border: 1px solid #7b8491 !important;
  border-radius: 0.5rem !important;
  padding: 0.4rem 0.6rem !important;
  height: 2.6rem !important;
  align-items: center;
  transition: all 0.15s ease;
}

// HOVER EFFECT
.mat-mdc-form-field-flex:hover {
  background-color: #f0f6ff !important;
}

// FOCUS EFFECT
.mat-mdc-form-field-flex.mat-focused {
  border-color: #3b82f6 !important;
  box-shadow: 0 0 2px rgba(59, 130, 246, 1);
}
