/* OPTIONAL FORM-FIELD CUSTOMIZATION */
@use '@angular/material' as mat;
* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

@include mat.form-field-density(-1);

.mdc-notched-outline,
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  display: none !important;
}

.mat-mdc-form-field-flex {
  background-color: transparent !important;
  border: 1px solid #7b8491 !important;
  border-radius: 0.5rem !important;
  padding: 0.4rem 0.6rem !important;
  height: 2.6rem !important;
  align-items: center;
  transition: all 0.15s ease;
}

.mat-mdc-form-field-flex:hover {
  background-color: #f0f6ff !important;
}

.mat-mdc-form-field-flex.mat-focused {
  border-color: #3b82f6 !important;
  box-shadow: 0 0 2px rgba(59, 130, 246, 1);
}